@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
    font-family: 'Shadows Into Light', cursive !important;
}

button {
    cursor: pointer;
}

/*****************************************
 * Components are ordered alphabetically *
 *****************************************/

/* game header */
#title, #time, #menu-toggle {
    display: inline;
}

/* location */
#loc-div {
    margin-top: 3em;
}

/* map */
.map-item {
    margin-top: 3em;
}

/* nav */ 
#nav-div {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: lightgray;
    transition: 0.5s;
}

#nav-div a {
    padding: 8px 32px 8px 32px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

#close-menu {
    font-size: 48px;
}