<div id="battle-footer" align="center">
    <div id="battle-btns">
        <button id="fight-btn" class="btn btn-secondary battle-btn">Fight</button>
        <button id="items-btn" class="btn btn-secondary battle-btn">Items</button>
        <button id="nuzmon-btn" class="btn btn-secondary battle-btn">NuzMon</button>
        <button id="run-btn" class="btn btn-secondary battle-btn">Run</button>
    </div>
    <div id="move-btns">
        <button id="move1-btn" class="btn btn-secondary battle-btn move-btn" data="1"></button>
        <button id="move2-btn" class="btn btn-secondary battle-btn move-btn" data="2"></button>
        <button id="move3-btn" class="btn btn-secondary battle-btn move-btn" data="3"></button>
        <button id="move4-btn" class="btn btn-secondary battle-btn move-btn" data="4"></button>
    </div>
    <script src="components/battleFooter/battleFooter.js"></script>
</div>
