<div id="battle-footer" class="footer" align="center">
    <div class="btn-group btn-group-lg" role="group" aria-label="battle-options" >
        <button type="button" id="fight-btn" class="btn btn-light battle-btn">Fight</button>
        <button type="button" id="items-btn" class="btn btn-light battle-btn">Items</button>
        <button type="button" id="nuzmon-btn" class="btn btn-light battle-btn">NuzMon</button>
        <button type="button" id="run-btn" class="btn btn-light battle-btn">Run</button>
    </div>
</div>