<div id="battle-main" align="center">
    <div class="row justify-content-center" id="oponent-row">
        <div class="col-5">
            <p id="oponent-name"></p>
            <div class="progress">
                <div id="oponent-health" class="progress-bar bg-secondary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p id="oponent-status"></p>
        </div>
        <div class="col-7">
            <img height="200px" width="200px" id="oponent-img" src="">
        </div>
    </div>
    <div class="row justify-content-center" id="player-row">
        <div class="col-7">
            <img height="200px" width="200px" id="player-img" src="">
        </div>
        <div class="col-5">
                <p id="player-name"></p>
            <div class="progress">
                <div id="player-health" class="progress-bar bg-secondary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p id="player-status"></p>
        </div>
    </div>
    <script src="components/battle/battle.js"></script>
</div>