<div id="map-div">
    <div id="map-row-1" class="row">
        <div id="map-1-1" class="col-4 map-item" align="center">
            <button class="map-btn">1-1</button>
        </div>
        <div id="map-1-2" class="col-4 map-item" align="center">
            <button class="map-btn">1-2</button>
        </div>
        <div id="map-1-3" class="col-4 map-item" align="center">
            <button class="map-btn">1-3</button>
        </div>
    </div>
    <div id="map-row-2" class="row">
        <div id="map-2-1" class="col-4 map-item" align="center">
            <button class="map-btn">2-1</button>
        </div>
        <div id="map-2-2" class="col-4 map-item" align="center">
            <button class="map-btn">2-2</button>
        </div>
        <div id="map-2-3" class="col-4 map-item" align="center">
            <button class="map-btn">2-3</button>
        </div>
    </div>
    <div id="map-row-3" class="row">
        <div id="map-3-1" class="col-4 map-item" align="center">
            <button class="map-btn">3-1</button>
        </div>
        <div id="map-3-2" class="col-4 map-item" align="center">
            <button class="map-btn">3-2</button>
        </div>
        <div id="map-3-3" class="col-4 map-item" align="center">
            <button class="map-btn">3-3</button>
        </div>
    </div>
</div>

<script>
    $('.map-btn').click(function () {
        console.log('clicked');
        changeSection('#game-foci', 'components/location.html');
    });
</script>