<div id="nav-div">
    <div id="close-div" align="right">
        <a href="javascript:void(0)" id="close-menu">X</a>
    </div>
    <ul id="link-list" class="nav flex-column">
        <li class="nav-item">
            <a id="player-link" class="nav-link" data="cs" href="javascript:void(0)">Player</a>
        </li>
        <li class="nav-item">
            <a id="mons-link" class="nav-link" data="party" href="javascript:void(0)">Mons</a>
        </li>
        <li class="nav-item">
            <a id="inv-link" class="nav-link" data="inv" href="javascript:void(0)">Inventory</a>
        </li>
        <li class="nav-item">
            <a id="map-link" class="nav-link" data="map" href="javascript:void(0)">Map</a>
        </li>
        <li class="nav-item">
            <a id="snq-link" class="nav-link" data="snq" href="javascript:void(0)">Save & Quit</a>
        </li>
    </ul>
    <script type="text/javascript" src="components/nav/nav.js"></script>
</div>