@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
body {
    font-family: 'Shadows Into Light', cursive !important;
}

button {
    cursor: pointer;
}


/*****************************************
 * Components are ordered alphabetically *
 *****************************************/


/**********/


/* battle */


/*********/

.battle-btn,
.move-btn {
    width: 20%;
    padding: 10px;
}

/***************/


/* game header */


/***************/

#title,
#time {
    display: inline;
}


/*************/


/* inventory */


/*************/

#inventory-div {
    margin-top: 3em;
}

.item-col {
    width: 80px;
}


/************/


/* location */


/************/

#loc-div {
    margin-top: 3em;
}


/*******/


/* map */


/*******/

.map-item {
    margin-top: 3em;
}


/*******/


/* nav */


/*******/

#nav-div {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: lightgray;
}

#nav-div a {
    padding: 8px 32px 8px 32px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}


/* smaller screens */

@media only screen and (min-width: 100px) {
    #link-list {
        margin-top: 0;
    }
    #nav-div {
        width: 0;
        z-index: 1;
        transition: 0.5s;
    }
    #close-menu {
        display: block;
        font-size: 48px;
    }
    #menu-toggle {
        display: inline;
    }
    #nav-div a {
        transition: 0.3s;
    }
    #game-foci,
    #header,
    #footer {
        margin-right: 0;
    }
    .map-img {
        width: 64px;
        height: 64px;
    }
    .battle-img {
        height: 200px;
        width: 200px;
    }
}


/* larger screens */

@media only screen and (min-width: 600px) {
    #link-list {
        margin-top: 60px;
    }
    #nav-div {
        width: 250;
    }
    #close-menu {
        display: none;
    }
    #menu-toggle {
        display: none;
    }
    #game-foci,
    #header,
    #footer {
        margin-right: 250px;
    }
    #battle-header,
    #battle-main,
    #battle-footer {
        margin-right: -150px;
        margin-left: 100px;
    }
    .map-img {
        width: 128px;
        height: 128px;
    }
    .battle-img {
        height: 300px;
        width: 300px;
    }
}


/************/


/* wildMon */


/***********/


/***************** ANIMATIONS **********************/

.flip-img {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
}

.off {
    -moz-animation-name: none;
	-webkit-animation-name: none;
	animation-name: none;	
}

.battle-anim-hit-enemy {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: hit-enemy;
    -webkit-animation-iteration-count: 1;
    -moz-animation-duration: 2s;
    -moz-animation-name: hit-enemy;
    -moz-animation-iteration-count: 1;
    animation-duration: 2s;
    animation-name: hit-enemy;
    animation-iteration-count: 1;
}

@keyframes hit-enemy {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
        transform: translate(15px, 10px);
    }
    30% {
        opacity: 1;
        transform: rotate(20deg);
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        transform: translateX(-25px);
    }
    70% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
        transform: translate(0px, 0px);
    }
}

.battle-anim-slidein-right {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: slidein-right;
    -webkit-animation-iteration-count: 1;
    -moz-animation-duration: 2s;
    -moz-animation-name: slidein-right;
    -moz-animation-iteration-count: 1;
    animation-duration: 2s;
    animation-name: slidein-right;
    animation-iteration-count: 1;
}

@keyframes slidein-right {
    0% {
        transform: translateX(1000px);
    }
    30% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

.battle-anim-slidein-left {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: slidein-left;
    -webkit-animation-iteration-count: 1;
    -moz-animation-duration: 2s;
    -moz-animation-name: slidein-left;
    -moz-animation-iteration-count: 1;
    animation-duration: 2s;
    animation-name: slidein-left;
    animation-iteration-count: 1;
}

@keyframes slidein-left {
    0% {
        transform: translateX(-1000px);
    }
    30% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

.mon-img-anim-hop {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: hop;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -moz-animation-name: hop;
    -moz-animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: hop;
    animation-iteration-count: infinite;
}

@keyframes hop {
    0% {
        transform: translate(0, 0);
    }
    70% {
        transform: translate(0, 0);
    }
    75% {
        transform: translateY(-12px);
    }
    80% {
        transform: translateY(12px);
    }
    85% {
        transform: translateY(-8px);
    }
    92% {
        transform: translateY(8px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.mon-img-anim-swing {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: swing;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -moz-animation-name: swing;
    -moz-animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: swing;
    animation-iteration-count: infinite;
}

@keyframes swing {
    0% {
        transform: translate(0, 0);
    }
    70% {
        transform: translate(0, 0);
    }
    75% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(20deg);
    }
    90% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.mon-img-anim-wiggle {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: wiggle;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -moz-animation-name: wiggle;
    -moz-animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: wiggle;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    0% {
        transform: translate(0, 0);
    }
    70% {
        transform: translate(0, 0);
    }
    75% {
        transform: translateX(-12px);
    }
    80% {
        transform: translateX(10px);
    }
    85% {
        transform: translateX(-8px);
    }
    92% {
        transform: translateX(4px);
    }
    100% {
        transform: translate(0, 0);
    }
}