/** ELEMENTS **/

body {
    font-family: 'ShadowsIntoLight', cursive !important;
}

button {
    margin-top: 20px;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}

canvas {
    border: 1px solid black;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}


/** CLASSES **/

.bold {
    font-weight: bold;
}

.border {
    border: 1px solid black;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.center {
    margin: auto;
}

.center-text {
    text-align: center;
}

.first-mon-img {
    transition: transform .2s;
}

.first-mon-img:hover {
    transform: sclae(1.5);
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-item-first {
    grid-row-start: 1;
}

.grid-item-second {
    grid-row-start: 2;
}

.grid-item-full {
    grid-column: 1 / -1;
}

.hidden {
    display: none;
}

.menu-img {
    margin: auto;
    height: 64px;
    width: 64px;
    cursor: pointer;
}

.no-bold {
    font-weight: normal;
}

.prop-name {
    text-transform: capitalize;
    font-family: 'Amatic', cursive;
}

.scroll-div {
    height: 300px;
    overflow: auto;
    position: absolute;
    bottom: 0px;
    border: 1px solid black;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/** IDs **/

#menu-close {
    font-size: 30px;
}

#menu-main {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-auto-rows: auto;
}

#menu-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
}

#transition {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 100;
    overflow: hidden;
}