<div id="nav-div">
    <div align="right">
        <a href="javascript:void(0)" id="close-menu">X</a>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Player</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mons</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Save & Quit</a>
        </li>
    </ul>
    <script type="text/javascript" src="components/nav/nav.js"></script>
</div>