.mon-img-anim-hop {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: hop;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -moz-animation-name: hop;
    -moz-animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: hop;
    animation-iteration-count: infinite;
}

@keyframes hop {
    0% {
        transform: translate(0, 0);
    }
    70% {
        transform: translate(0, 0);
    }
    75% {
        transform: translateY(-12px);
    }
    80% {
        transform: translateY(12px);
    }
    85% {
        transform: translateY(-8px);
    }
    92% {
        transform: translateY(8px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.mon-img-anim-swing {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: swing;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -moz-animation-name: swing;
    -moz-animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: swing;
    animation-iteration-count: infinite;
}

@keyframes swing {
    0% {
        transform: translate(0, 0);
    }
    70% {
        transform: translate(0, 0);
    }
    75% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(20deg);
    }
    90% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.mon-img-anim-wiggle {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: wiggle;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -moz-animation-name: wiggle;
    -moz-animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: wiggle;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    0% {
        transform: translate(0, 0);
    }
    70% {
        transform: translate(0, 0);
    }
    75% {
        transform: translateX(-12px);
    }
    80% {
        transform: translateX(10px);
    }
    85% {
        transform: translateX(-8px);
    }
    92% {
        transform: translateX(4px);
    }
    100% {
        transform: translate(0, 0);
    }
}